html {
  font-family: "Roboto" !important;
  background-color: rgb(115, 0, 195);
}

.navbar-header {
    color: rgb(115, 0, 195);
    font-family: "Roboto";
}

.jumbotron {
    color: white !important;
    background-color: rgb(115, 0, 195) !important;
}

.chart-holder {
    margin: 20px;
    padding: 50px;
    border-radius: 50px;
    background: white !important;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    height: 50%;
}
